name: Update GitHub Profile Stats

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          user: usman22209
          filename: assets/github-metrics.svg
          base: header, activity, repositories
          plugin_languages: yes
          plugin_lines: yes
          plugin_followup: yes

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add assets/github-metrics.svg
          git commit -m "Update metrics" || exit 0
          git push
